.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #4A8FDC;
}

hr {
  width: 80px;
  height: 5px;
  background-color: #4A8FDC;
}
